<!DOCTYPE html>
<html>
  <head>
    <title>BrainHacker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script>
      window.currentUser = {
        "id": "<%= current_user.id %>",
        "username": "<%= current_user.username %>"
      }
     </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
